<form [formGroup]="form" (submit)="onSubmit()">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Index</mat-label>
      <input formControlName="index" matInput placeholder="Index">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <mat-select (selectionChange)="onCountryChange($event)" formControlName="country">
        <mat-option *ngFor="let country of countries" [value]="country.id">
          {{country.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Area</mat-label>
      <input formControlName="area" matInput placeholder="Area">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <mat-select formControlName="city">
        <mat-option *ngFor="let city of selectedCountry?.cities" [value]="city.id">
          {{city.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Street</mat-label>
      <input formControlName="street" matInput placeholder="Street">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>House</mat-label>
      <input formControlName="house" matInput placeholder="House">
    </mat-form-field>
  </div>

  <button color="primary" mat-raised-button type="submit">Submit Address</button>
</form>
