<form [formGroup]="form" (submit)="onSubmit()">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Middle Name</mat-label>
      <input formControlName="middleName" matInput placeholder="Middle Name">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput placeholder="Last Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a birth date</mat-label>
      <input [matDatepicker]="picker" formControlName="birthDate" matInput>
      <!--    <mat-hint>MM/DD/YYYY</mat-hint>-->
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input formControlName="phoneNumber" matInput placeholder="Phone Number">
      <mat-error *ngIf="form.get('phoneNumber')?.errors?.['minlength']">minlength 11</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option *ngFor="let gender of genderTypes" [value]="gender">
          {{gender}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Client Group</mat-label>
      <mat-select formControlName="clientGroup" multiple>
        <mat-option *ngFor="let group of clientGroup" [value]="group.id">{{group.value}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Coordinator</mat-label>
      <mat-select formControlName="coordinator">
        <mat-option *ngFor="let coordinator of coordinators" [value]="coordinator.id">
          {{coordinator.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="toggle-container">
    <mat-slide-toggle formControlName="dontSendSms">Do not send SMS</mat-slide-toggle>
  </div>

  <div class="submit-button">
    <button color="primary" mat-raised-button type="submit">Submit Client</button>
  </div>
</form>
