<form [formGroup]="form" (submit)="onSubmit()">

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Document type</mat-label>
      <mat-select formControlName="documentType">
        <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.id">
          {{documentType.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Series</mat-label>
      <input formControlName="series" matInput placeholder="Series">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Number</mat-label>
      <input formControlName="number" matInput placeholder="Number">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Issued by</mat-label>
      <input formControlName="issuedBy" matInput placeholder="Issued by">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date of issue</mat-label>
      <input [matDatepicker]="picker" formControlName="issueDate" matInput>
      <!--    <mat-hint>MM/DD/YYYY</mat-hint>-->
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="row">
    <input #fileUpload (change)="onFileSelected($event)"
           class="file-input" type="file">

    <div class="file-upload">

      {{fileName || "No file uploaded yet."}}

      <button (click)="fileUpload.click()" class="upload-btn" color="primary"
              mat-mini-fab>
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
  </div>

  <button color="primary" mat-raised-button type="submit">Submit Identity</button>
</form>
